*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1em;
    font-family: "Cormorant Infant", sans-serif;

}

body {
    background-color: rgba(97, 82, 71, 0.973);
}
header{
    background-color: rgb(109, 89, 81);
    text-align: center;
    padding: 20px 40px;
}
footer{
    background-color: rgb(97, 79, 71);
    color:whitesmoke;
    padding: 20px 40px
}
#about{ 
    background-color: rgb(92, 80, 69);
    padding: 20px 40px;
    color: white;
    text-align: center;
}
#articles{
    background-color: rgb(100, 80, 74);
    color: white;
    /* text-align: left; */
    padding: 20px 40px;
}

h2{
    text-align: center;
    font-size: 2rem;
}
p{
    text-align: justify;
    margin-top: 1.35rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding:0px 40px 3px;
    color: white;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
}
h3{
    text-align: center;
    font-size: 1.5rem;
}
li{
    font-size: 1.2rem;
}
h4{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.35rem;
}
.image-right{
    float: right;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}
figure{
    float: right;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(0, 0, 0);


}
figcaption{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
}
.captuon-right{
    margin-left: 10px;
    font-size: 1rem;
}
blockquote{
    font-size: 1.15rem;
    color: rgb(206, 236, 123);
    line-height: 1.4rem;
    padding:0px 40px 3px;
}
kbd{
    background-color: red;
}
a:link {
    color: yellow;
}
a:visited{
    color: orange;
    
}
a:active {
    color: greenyellow
}
a:hover{
    color: aquamarine;
}
a:focus{
    color: tomato;
}

ol li:nth-child(odd){
    background-color: rgba(143, 126, 80, 0.466);
}
.links li{
    background-color: rgba(0, 100, 0, 0.342);
}
.hooba-booba::after{
    content: 'Пустой текст лорем';
    font-size: 12px;
    color: chartreuse;
    margin-left: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}
#reg{
    width: 300px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 60px;
    background-color: brown;
}
#reg input{
    background-color: rgb(99, 40, 35);
    padding: 7px;
    border-radius: 5px;
    color: rgb(253, 206, 191);
    margin-bottom: 10px;
    border: 1px solid rgb(199, 216, 48);
}
p::first-line {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(205, 216, 121);
}
p:lang(en){
    font-size: 12px;
    border-style: double;
    border-color: brown;
}
#about h2{
    font-size: smaller;
    color: greenyellow;
}
footer a{
    border-color: aquamarine; 
    border-radius: 7px;
    border-style: dashed;
    
}
.kompik{
    border: rgb(197, 216, 113) solid 3px;
} 

img + p {
  margin-top: 55px;
}
.kartinka{
    text-align: center;
}
table {
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  padding: 50px;
  display: table-row-group;
  vertical-align: middle;
  width: 650px;
  border-top: 7px solid rgb(175, 106, 27);
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  border: 1px solid #dfd110;
  background-color: rgba(216, 168, 79, 0.568);
}
td {
  text-align: left;
	padding: 10px;
	border: 3px solid #814d11;
}
 th {
  text-align: center;
  padding: 10px;
	border: 3px solid #814d11;
 }
#reg input.knopka:hover{
    background-color: rgb(163, 65, 65);
}